

/* Styles for AI Command div */
#aiCommandDiv {
    display: none;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
}


.popup-content::-webkit-scrollbar {
    width: 8px;
}
.popup-content::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}





.popup-overlay {
display: none; /* Initially hidden */
position: fixed; /* Stay fixed on the screen */
top: 0;
left: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
justify-content: center; /* Center contents horizontally */
align-items: center; /* Center contents vertically */
z-index: 999998; /* Ensure it is below the popup content */
}

.popup-content {
z-index: 999999; /* Ensure this is on top */
background: #fff; /* White background for the popup */
padding: 20px; /* Padding around the content */
border-radius: 8px; /* Rounded corners */
width: 80%; /* Full width with a maximum width */
max-width: 600px; /* Maximum width */
position: relative; /* Relative positioning */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.close-popup {
position: absolute; /* Positioned relative to popup-content */
top: 10px; /* Position at the top */
right: 10px; /* Position at the right */
cursor: pointer; /* Cursor pointer for clickable */
font-size: 24px; /* Font size for close icon */
}
